span.grooming-sync-button
  template(v-if="isLoading")
    p-button.p-button-rounded.p-button-text.u-spinner(
      disabled
      icon="pi pi-spinner"
      )

  template(v-else-if="isSuccess")
    a(:href="issueUrl" target="_blank")
      p-button.p-button-rounded.p-button-text.p-button-success(
        v-tooltip.top="`Open ${issueKey}`"
        icon="pi pi-check"
        )

  template(v-else-if="isFailed")
    p-button.p-button-rounded.p-button-text.p-button-danger(
      v-tooltip.top="`Retry`"
      icon="pi pi-times"
      )

  template(v-else)
    p-button.p-button-rounded.p-button-text(
      v-tooltip.top="`Sync ${issueKey}`"
      icon="pi pi-send"
      )
