.retro-new-form
  .l__input.p-mb-5
    client-only: codemirror.c__input(
      v-model="form"
      :options="$options.CM_OPTIONS"
      )

  .l__actions.p-d-flex.p-ai-center
    p-button.p-mr-4(
      :disabled="!form"
      icon="pi pi-angle-double-right"
      label="Create Retro Document"
      type="button"
      @click.native="doSubmit"
      )

    template(v-if="result")
      span
        | #[i.pi.pi-check.p-mr-1]
        | Click
        a.p-mx-1(
          v-tooltip.top="result.title"
          :href="result.url"
          target="_blank"
          ) here
        | to visit the page.
